{% extends 'base.html.twig' %}

{% block title %}Liste des manager{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>LISTE DES MANAGERS</h1>
        <a class="btn btn-primary" href="/" role="button">Retour à l'accueil</a>

            <table class="table table-striped table-hover table-bordered table-dark">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Equipe</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Role</th>
                        <th scope="col">Salaire</th>
                    </tr>
                </thead>
                <tbody>
                {% for manager in managers %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ nomEquipe[loop.index-1] }}</td>                    
                        <td>{{ manager.nom }}</td>                    
                        <td>{{ manager.role }}</td>
                        <td>{{ manager.salaire }} €</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
